project:
  type: website
  output-dir: _site
  resources:
    - "**/*.avif"

website:
  favicon: favicon.png
  twitter-card: true
  open-graph: true
  search: true
  navbar:
    logo: bears_logo.png
    left:
      - text: "Projects"
         # main projects page
        menu:
          - text: "All Projects"
            href: projects.qmd
          - text: "Science and Experiments"
            href: "projects.html#category=Science%20and%20Experiments"
          - text: "Experimental Rocketry"
            href: "projects.html#category=Experimental%20Rocketry"
          - text: "Robotics"
            href: "projects.html#category=Robotics"
            # add more categories like this:
            # - text: "Another Category"
            #   href: "projects.qmd#category=Another%20Category"

      - events.qmd
      - about.qmd
      - sponsors.qmd
      - text: "Education"
        href: edu.qmd
      - join.qmd

    right:
      - imprint.qmd
      - icon: instagram
        href: https://www.instagram.com/bears.space/
      - icon: linkedin
        href: https://www.linkedin.com/company/bears-ev/
      - icon: youtube
        href: https://www.youtube.com/@darethelimits
      # - icon: github
      #   href: https://github.com/
      # - icon: twitter
      #   href: https://twitter.com
  page-footer: 
    border: true
    background: light

    left: "© 2025 Berlin Experimental Astronautics Research Student Team e.V. All rights reserved."
    
    center:
      - text: "Privacy notice"
      - text: "&nbsp;&nbsp;|"        # ← horizontal separator
      - imprint.qmd

    right: 
      - text: "info@bears-space.de"
        href: "mailto:info@bears-space.de"
      - icon: instagram
        href: https://www.instagram.com/bears.space/
      - icon: linkedin
        href: https://www.linkedin.com/company/bears-ev/
      - icon: youtube
        href: https://www.youtube.com/@darethelimits 
format:
  html:
    theme:
      light: flatly
      dark: darkly
    css: styles.css
    mainfont: Arial # Default was Lato, but we want to avoid Google Fonts
    include-before-body:
      text: <script src="/custom_scripts.js"></script>
