project:
  type: website
  output-dir: _site
  resources:
    - "**/*.avif"

website:
  favicon: favicon.png
  twitter-card: true
  open-graph: true
  search: true
  navbar:
    logo: bears_logo.png
    left:
      - text: "Projects"
         # main projects page
        menu:
          - text: "All Projects"
            href: projects.qmd
          - text: "Science and Experiments"
            href: "projects.html#category=Science%20and%20Experiments"
          - text: "Experimental Rocketry"
            href: "projects.html#category=Experimental%20Rocketry"
          - text: "Robotics"
            href: "projects.html#category=Robotics"
            # add more categories like this:
            # - text: "Another Category"
            #   href: "projects.qmd#category=Another%20Category"

      - events.qmd
      - about.qmd
      - sponsors.qmd
      - text: "Education"
        href: edu.qmd
      - join.qmd

    right:
      - imprint.qmd
      - icon: instagram
        href: https://www.instagram.com/bears.space/
      - icon: linkedin
        href: https://www.linkedin.com/company/bears-ev/
      - icon: youtube
        href: https://www.youtube.com/@darethelimits
      # - icon: github
      #   href: https://github.com/
      # - icon: twitter
      #   href: https://twitter.com
  
  page-footer: 
    border: true
    background: light
    # "© 2025 Berlin Experimental Astronautics Research Student Team e.V. All rights reserved."
    left: |
      <img src="/bears_logo.png" alt="BEARS logo" style="max-width:140px; height:auto; margin-bottom:10px; margin-top:10px; display:block; margin-left:0;">
      <div style="margin-top:8px;">
        Berlin Experimental Astronautics<br>
        Research Student Team e.V.<br>
        c/o TU Berlin - Institut für Luft- und Raumfahrt<br>
        Marchstraße 12-14<br>
        10587 Berlin<br>
        Mail: info[at]bears-space.de
      </div>

    center:
      - text: |
          <table class="footer-table">
            <tr>
              <td><a href="/projects.html"><strong>Projects</strong></a></td>
              <td><strong>About</strong></td>
            </tr>
            <tr>
              <td><a href="/projects.html#category=Science%20and%20Experiments">Science and Experiments</a></td>
              <td><a href="/about.html">Who are we</a></td>
            </tr>
            <tr>
              <td><a href="/projects.html#category=Experimental%20Rocketry">Experimental Rocketry</a></td>
              <td><a href="/join.html">Join Us</a></td>
            </tr>
            <tr>
              <td><a href="/projects.html#category=Robotics">Robotics</a></td>
              <td><a href="/imprint.html">Imprint</a></td>
            </tr>
            <tr>
              <td></td>
              <td><a href="/privacy.html">Privacy notice</a></td>
            </tr>
          </table> 

    right: 
      - icon: instagram
        href: https://www.instagram.com/bears.space/
      - icon: linkedin
        href: https://www.linkedin.com/company/bears-ev/
      - icon: youtube
        href: https://www.youtube.com/@darethelimits 

format:
  html:
    theme:
      light: flatly
      dark: darkly
    css: styles.css
    mainfont: Arial # Default was Lato, but we want to avoid Google Fonts
    include-before-body:
      text: <script src="/custom_scripts.js"></script>
