/* The styles defined here are applied to all pages */

/* slideshow */
.slideshow {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}
.slideshow p {
    margin: 0;
}
.prevButton, .nextButton {
    position: absolute;
    top: 0;
    background: #0003;
    color: #fffa;
    border: none;
    font-size: 50px;
    height: 100%;
}
.prevButton {left: 0;}
.nextButton {right: 0;}
.prevButton:hover, .nextButton:hover {background: #0007;}

.slideshow img {
    width:100%;
    display: none;
}
.slide {
  display: none;
  text-align: center;
}

.slide img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.controls {
  text-align: center;
  margin-top: 10px;
}

h2 {
  margin-top: 15px;
}

/* image captions */
figcaption {
    text-align: center;
}


/* post thumbnails */
div.quarto-post .thumbnail img {
    object-fit: contain;
    max-height: 10em;
}

/* disable date heading */
#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
    display: none;
}
#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
    margin-top: 1em;
}
